body {
    background-image: url("../images/memphis-colorful.png");
    font-family: 'Libre Baskerville', serif;
}

.jumbotron {
    text-align: center;
}

.guess,
.remain,
.win,
.lose {
    margin: 5px;
}